.home-hero {
    height: 300px;
    width: 100%;
    background-image: url(../images/canada-tour-01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .home-hero-title {
        font-family: 'Courier New', Courier, monospace;
        font-size: 40px;
        color: white;
    }
}